
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("/images/pexels-pixabay-531880.jpg");
}
.container {
    background: rgb(164, 178, 207);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
width: 50%;
}

.container button {

    border-radius: 50px;
    background-color: #000000;
}

